/* HEADER COMPONENT */
* {
  margin:0;
  padding:0;
}

.Header {
  text-align:center;
  margin-right:100px;
  background-color:dodgerblue;
  width:100%;
  height:250px;
}

.PickList {
  background-color:blue;
  border-bottom:2px solid dodgerblue;
  box-shadow: 0 0 10px 0;
  height:50px;
  text-align:center;
}

.PickList li {
  display: inline;
  padding:2px;
  color:whitesmoke;
}

.PickOrder {
  padding:40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
}

.Img {
  height:290px;
}

.DraftPlayers {
  font-size: 22px;
  width: auto;
  height:400px;
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  align-content: space-around;
}

.playerName {
  padding:7px;
  list-style-type: none;
}

/* YOUR TEAM */

.one {
  display: inline-block;
  margin-bottom:90px;
}

.your-team {
  font-size:20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  align-content: space-around;
  margin: 90px 0 0 175px;
  width:auto;
  height:310px;
}

.your-team ul {
  border:5px solid black;
}

.your-pick {
  list-style-type: none;
  padding:10px;
  background-color:white;
}

.your-team-name {
  margin:0 0 0 175px;
  color:white;
  text-align:right;
  background-color:rgb(0, 0, 161);
  border-radius: 0 0 25px 25px;
  padding:5px 30px;
}